<div class="d-flex flex-row">
  <section class="flex-column">
    <section class="call-to-action-section">
      <div class="call-to-action-div flex-column">
        <h1 class="custom-header">Game Data</h1>
        <table border="1">
          <thead>
            <tr>
              <th>App ID</th>
              <th>Name</th>
              <th>Release Date</th>
              <th>Price</th>
              <th>Developers</th>
            </tr>
          </thead>
            <tbody>
              {{#each games}}
              <tr>
                <td>{{this.appId}}</td>
                <td>{{this.name}}</td>
                <td>{{this.releaseDate}}</td>
                <td>{{this.price}}</td>
                <td>{{this.developers}}</td>
              </tr>
              {{/each}}
            </tbody>
        </table>
      </div>
    </section>
  </section>
</div>
