<div class="d-flex flex-row">
  <section class="flex-column">
    <section class="call-to-action-section">
      <div class="call-to-action-div flex-column">
        <div class="d-flex flex-row">
          <form action="/read/{{username}}?" method="POST">
                <select class="mx-2" id="input_field_update" name="input_field_update">
                <option selected="selected" value="Name">Name</option>
                <option value="Release Date">Release Date</option>
                <option value="Price">Price</option>
                <option value="Developers">Developers</option>
                </select>
                <input type="text" name="search" id="search" class="mx-2">
                <button type="submit">Search</button>
          </form>

        </div>
        

        <h1 class="fw-bolder custom-header text-light">Game Data</h1>
        <table border="1">
          <thead>
            <tr>
              <th class="thead-c">App ID</th>
              <th class="thead-c">Name</th>
              <th class="thead-c">Release Date</th>
              <th class="thead-c">Price</th>
              <th class="thead-c">Developers</th>
            </tr>
          </thead>
            <tbody>
              {{#each games}}
              <tr>
                <td class="tc">{{this.appId}}</td>
                <td  class="tc">{{this.name}}</td>
                <td  class="tc">{{this.releaseDate}}</td>
                <td  class="tc">{{this.price}}</td>
                <td  class="tc">{{this.developers}}</td>
              </tr>
              {{/each}}
            </tbody>
        </table>
      
      
      
      </div>

    </section>
  </section>
</div>
